/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.mdl-layout__content{
	padding: 0 6.3%;
}

.mdl-data-table{
	width: 100%;
}

.container{
	margin: 30px 0;
}

.container-element{
	width: 24%;
	margin-bottom: 30px !important;
}

.container button{
	width: 49%;
}

.form-container{
	width: 100% !important;
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	justify-content: space-around;
	padding: 15px 0;
	background-color: lightblue;
	border: 1px solid #ddd;
}

.form-container input{
	padding: 2px;
	font-size: 18px;
}