<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<%= link_to 'New Car', new_car_path, class: "mdl-button mdl-button--primary mdl-button--raised container-element" %>

<div class="form-container">
  <input type="text" ng-model="new_car.marca" placeholder="Marca">
  <input type="text" ng-model="new_car.modelo" placeholder="Modelo">
  <input type="text" ng-model="new_car.ano" placeholder="Ano">
  <input type="text" ng-model="new_car.cor" placeholder="Cor">

  <button class="mdl-button mdl-button--raised mdl-button--primary" ng-click="add_car(new_car)">
    Add new car
  </button>
</div>

<h3>Angular table:</h3>
<table class="mdl-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table--cell-non-numeric">Marca</th>
      <th>Modelo</th>
      <th>Ano</th>
      <th>Cor</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="car in cars">
      <td class="mdl-data-table--cell-non-numeric">
        <span ng-show="!car.editable">{{car.marca}}</span>
        <input type="text" ng-show="car.editable" ng-model="car.marca">
      </td>
      <td>
        <span ng-show="!car.editable">{{car.modelo}}</span>
        <input type="text" ng-show="car.editable" ng-model="car.modelo">
      </td>
      <td>
        <span ng-show="!car.editable">{{car.ano}}</span>
        <input type="text" ng-show="car.editable" ng-model="car.ano">
      </td>
      <td>
        <span ng-show="!car.editable">{{car.cor}}</span>
        <input type="text" ng-show="car.editable" ng-model="car.cor">
      </td>
      <td ng-click="edit_car(car)">
        <a href="" ng-show="!car.editable" ng-click="edit_car(car)" ng-model="car.editable">Editar</a>
        <a href="" ng-show="car.editable" ng-click="update_car(car)">Salvar</a>
      </td>
      <td ng-click="delete_car(car)"><a href="">Apagar</a></td>
    </tr>
  </tbody>
</table>

<br><br><br>

<h3>Rails table:</h3>
<table class="mdl-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table--cell-non-numeric">Marca</th>
      <th>Modelo</th>
      <th>Ano</th>
      <th>Cor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td class="mdl-data-table--cell-non-numeric"><%= car.marca %></td>
        <td><%= car.modelo %></td>
        <td><%= car.ano %></td>
        <td><%= car.cor %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>