<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @car.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @car.ano %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @car.cor %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
