<!DOCTYPE html>
<html ng-app="Concessionaria">
  <head>
    <title>AngularConcessionariaRails</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- MDL -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

		<!-- ANGULAR -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>	
		<script>
			angular.module("Concessionaria", []);
			angular.module("Concessionaria").controller("ConcessionariaCtrl", function($scope, $http){

				$scope.app = "Angular - Concessionária";

				var load_cars = function(){
					$http.get("http://localhost:3000/cars.json").success(function(cars_data){
						$scope.cars = cars_data;
						console.log("Deu bom!");
					});	
				}

				$scope.add_car = function(new_car){
					$http.post("http://localhost:3000/cars.json", new_car).success(function(new_car){
						delete $scope.new_car;
						load_cars();
					});
				}

				$scope.delete_car = function(car){
					$http.delete(car.url, car).success(function(car){
						load_cars();
					});
				}

				$scope.edit_car = function(car){
					car.editable = true;
				}

				$scope.update_car = function(car){
					$http.put(car.url, car).success(function(car){
						car.editable = false;
						load_cars();
					});
				}

				load_cars();

			});
		</script>
  </head>

  <body class="mdl-layout mdl-layout--fixed-header" ng-controller="ConcessionariaCtrl">
  	<header class="mdl-layout__header">
  		<div class="mdl-layout__header-row">
  			<span class="mdl-title">{{app}}</span>
  		</div>
  	</header>

  	<main class="mdl-layout__content">
  		<%= yield %>
  	</main>
    
  </body>
</html>
